body {
    background-color: purple;
    margin: 5px;
    
}
header {
background-color: pink;
padding:5px;
}
header h1{
    border: 5px solid purple;
    border-radius: 15px;
    padding: 5px;
}
header p{
    border: 3.5px solid purple;
    border-radius: 10px;
    padding: 4px;
    background-color: purple;
    color: MediumVioletRed;
}
header img {
    border: 4px solid purple;
    border-radius: 100px;
}
header h1,header h2,header h3,header h4,header h5 {
color: purple;
font-family:Courier New;
font-family:Courier;
}
main {
    font-family:MS Sans Serif;
    background-color: pink;
    padding:5px;
}
main p, main h3 {
    background-color: LightPink;
}
.str{
    border: 3.5px solid purple;
    border-radius: 10px;
    padding: 4px;
    background-color: purple;
}
main h1 {
   border: 5px solid DeepPink;
    border-radius: 15px;
    padding: 5px;
    font-family:Courier New;
    font-family:Courier;
    color: MediumVioletRed;
}
.amain {
   border: 5px solid DeepPink;
    border-radius: 15px;
    padding: 5px;
    font-family:Courier New;
    font-family:Courier;
    color: MediumVioletRed;
}
footer h2,footer h3 {
    background-color: pink;
    color: purple;
    font-size:Courier New;
    font-family:Courier;
    padding: 5px;
}
